html {
    box-sizing: border-box;
  }
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --first-color: #F7F9FA; 
    --second-color: #FFFFFF;
    --third-color:   #F8F8F8;
    --fourth-color: #437684;
    --fifth-color:  #649DAD;
    --sixth-color: #000000;
    --seventh-color: #399EAF;
    --eighth-color: #D9D9D9;  
    --ninth-color: #3C6A76;
    --tenth-color: #EAF3F5;
    --eleven-color:#B6D9E3;
    --twelfth-color: #979797;
    --thirteenth-color: #BFDCE4;
   
}



@font-face {
	font-family: 'Montserrat';
	src: url('/font/MontserratRegular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('/font/MontserratRegular.woff2') format('woff2'),
        url('/font/MontserratRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}


@font-face {
	font-family: 'Montserrat';
	src: url('font/MontserratBold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('/font/MontserratBold.woff2') format('woff2'),
        url('/font/MontserratBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
    font-display: swap;
}


a {
    color: inherit;
    text-decoration: none;
}

/* img {
    max-width: 100%;
} */

body {
    font-family: 'Roboto', sans-serif;

}

.body-wraper{
    overflow: hidden;
    width: 100%;
    position: relative;
}



/* glob */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    max-width: 1190px;
    padding: 0 18px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    
}


h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--sixth-color);
}
.section-title {
    margin: 0;
}

.section-descr {
    margin: 0;
}


/* header */
.heder{
    background-color: var(--first-color);
}


.heder__container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30 0 0 0;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 70px;
    height: 40px;
    /* background-color:aqua; */
    border: none;
    outline: none;
    z-index: 2;
}

.burger__line{
    position: absolute;
    display: block;
    width: 70px;
    height: 6px;
    top: 17px;
    background-color: var(--fifth-color);
    transition: opacity .2s, transform .5s;
    will-change: transform;
}

.burger__line:nth-child(1){
    transform: translateY(-12px);

}

.burger__line:nth-child(3){
    transform: translateY(12px);
}

.header.open .burger__line:nth-child(1){
    transform: translateY(0) rotate(45deg);

}

.header.open .burger__line:nth-child(2){
    opacity: 0;

}

.header.open .burger__line:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__link{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--fifth-color);
    border: 2px solid transparent;
    transition: border-color, border .5s;
}

.header__link:hover {
    border-bottom-color: var(--fifth-color);
}

.header__link:focus-visible {
    border-color:  var(--fifth-color);
}

.header__link:active {
    border-bottom-color: var(--fifth-color);
    color: var(--tenth-color);
}

.header__btn {
    padding: 11px 44px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--fifth-color);
    background: var(--tenth-color);
    border-radius: 10px;
    transition: background-color .5s, color .5s, border .5s;
}


.header__btn:hover {
    color: var(--tenth-color);
    background-color: var(--fifth-color);
}

.header__btn:focus-visible {
    color: var(--tenth-color);
    background-color: var(--fifth-color);
}

.header__btn:active {
    color: var(--fifth-color);
    background-color: var(--second-color);
    border: 2px solid var(--fifth-color);
}


.header__menu {
    position: absolute;
    right: -240px;
    top: 90px;
    width: 240px;
    height: 240px;
    padding: 16px 0 26px 24px;
    background-color: var(--second-color);
    visibility: hidden;
    box-shadow: 2px 1px 4px rgba(162, 162, 162, 0.25);
    border-radius: 10px;
    transition: transform .5s, visibility .5s ;
    z-index: 1;
}

.header.open__btn .header__menu{
    transform: translateX(-100%);
    visibility: visible;
}

.header__list-menu{
    display: block;
}

.header__item-menu:not(:last-child){
    margin-bottom: 16px;
}

.item-menu__email{
    border-bottom: 1px solid var(--seventh-color);
}

.header-menu__email{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--fifth-color);
}

.header-menu__btn{
    padding: 6px 10px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #72BAC6;
    background-color: var(--tenth-color);
    border-radius: 5px;
}

.header__link-menu{
    display: block;
    padding-right:  20px 20px 0 0;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--seventh-color);
}

.header__link-menu:not(:last-child){
    margin-bottom: 16px;
}

/*  */

/* section form */
.form{
    background-color: var(--third-color);
}

.form__list-form{
    position: relative;
    margin-bottom: 61px;
}

.form__list-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0 40px 0;
}

.form__link-right,
.form__link-left{
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: var(--sixth-color);
    border: 2px solid transparent;
    transition: border-color, border .5s;
}


.form__link-right:hover,
.form__link-left:hover {
    border-bottom-color: var(--sixth-color);
}

.form__link-right:focus-visible,
.form__link-left:focus-visible {
    border-color:  var(--sixth-color)
}

.form__link-right:active,
.form__link-left:active {
    border-bottom-color: var(--fifth-color);
    color: var(--tenth-color);
}

.form__link-right:not(:last-child){
    margin-right: 60px;
}


/*  */

/* form */

.form-item__header{
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fifth-color);
}

/*  */

/*  */
.list-form__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px  0px 40px;
    background-color: var(--second-color);
    border: 1px solid #E7E7E7;
}


.item__header-descr{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--second-color);
}

.item-header__card{
    display: flex;
    align-self: center;
}

.header-descr__card{
    margin-right: 29px;
}

.header-card__avatar{
    width: 43px;
    height: 43px;
    background-color: var(--tenth-color);
    border-radius: 50%;
}
/*  */


/*  */

.active-svg{
    /* display: none; */
    display: block;
    position: absolute;
    left: -20px;
    top: 15%;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.passive-svg {
    display: none;
    /* display: block; */
    position: absolute;
    left: -20px;
    top: 15%;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}


.active-span{
    position: absolute;
    display: none;
    left: 0;
    top: 217px;
    width: 4px;
    height: 190px;
    background-color: var(--fifth-color);
    transform-origin: left;
}


.passive-span{
    display: block;
    position: absolute;
    left: 0;
    top: 217px;
    width: 4px;
    height: 190px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}

.item-card__file-text{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 20px;
}

.file-text__title{
    margin-bottom: 36px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--sixth-color);
}

.file-text__descr{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--twelfth-color);
    width: 670px;
}

.file-text__btn {
    display: none;
    padding: 18px 23px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background-color: var(--thirteenth-color);
    border-radius: 10px;
    transition: background-color .5s;
}

.file-text__btn:hover {
    background-color: var(--fifth-color);
}

.file-text__btn:focus-visible {
    background-color: var(--fourth-color);
}

.file-text__btn:active {
    background-color: var(--ninth-color);
}

.loading__block-text{
    width: 220px;
    height: 18px;
    border: 1px solid var(--twelfth-color);
    border-radius: 9px;
}

.card__loading-text{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.loading__file-text,
.loading__descr-text{
    margin-right: 25px;
}

/*  */

/*  */

.item-card__file-audio{
    /* position: relative; */
    padding-bottom: 48px;
}

.active-svg__audio{
    position: absolute;
    /* display: none; */
    left: -20px;
    top: 33%;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.active-span__audio{
    display: none;
    position: absolute;
    left: 0;
    top: 434px;
    width: 4px;
    height: 175px;
    background-color: var(--fifth-color);
    transform-origin: left;
}

.passive-svg__audio{
    display: none;
    position: absolute;
    left: -20px;
    top: 33%;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.passive-span__audio{
    position: absolute;
    left: 0;
    top: 434px;
    display: block;
    width: 4px;
    height: 175px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}

.file-auduo__title{
    margin-bottom: 36px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--sixth-color);
}

.file-audio__descr{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--twelfth-color);
    width: 670px;
}

.file-audio__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #649DAD;
}

.file-audio__link:not(:last-child){
    margin-right: 60px;
}

.file-audio__btn {
    /* display: none; */
    padding: 18px 23px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background-color: var(--fifth-color);
    border-radius: 10px;
    background-color: var(--thirteenth-color);
    border-radius: 10px;
    transition: background-color .5s;
}

.file-audio__btn:hover {
    background-color: var(--fifth-color);
}

.file-audio__btn:focus-visible {
    background-color: var(--fourth-color);
}

.file-audio__btn:active {
    background-color: var(--ninth-color);
}


.loading__audio{
    display: none;
}

.loading__block-audio{
    width: 220px;
    height: 18px;
    border: 1px solid var(--twelfth-color);
    border-radius: 9px;
}

.card__loading-audio{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.loading__file-audio,
.loading__descr-audio{
    margin-right: 25px;
}
/*  */

/*  */
.item-card__time{
    padding-bottom: 47px;
    
}

.active-svg__time{
    /* display: none; */
    position: absolute;
    left: -20px;
    top: 50%;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.active-span__time{
    position: absolute;
    left: 0;
    top: 630px;
    display: none;
    width: 4px;
    height: 125px;
    background-color: var(--fifth-color);
    transform-origin: left;
}

.passive-svg__time{
    display: none;
    position: absolute;
    left: -20px;
    top: 50%;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.passive-span__time{
    position: absolute;
    left: 0;
    top: 630px;
    display: block;
    width: 4px;
    height: 125px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}



.card-time__title {
    margin: 0;
    align-self: baseline;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--sixth-color);
}

.card-time__input{
    display: flex;
    align-items: center;
    padding-top: 18px;
}

.time-container1{
    position: relative;
    margin-right: 5px;
    width: 65px;
    height: 65px;
}

.time__input1{
    position: absolute;
    padding: 0;
    left: 5px;
    top: 15px;
    width: 60px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white;
    letter-spacing: 10px;
    background: none; 
    border: none;
    outline: none;
    transform-origin: left;
    z-index: 2;
}

.time__input1::placeholder{
    color: white;
    line-height: 1em;
    font-size: 2em;
    letter-spacing: 5px;
}

.time__input1::-webkit-outer-spin-button,
.time__input1::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0; 
}

.time__blok1{
    position: absolute;
    left: 0;
    top:0;
    width: 65px;
    height: 65px;
    background-color: var(--thirteenth-color);
    border-radius: 10px;
    z-index: 1;
    transition: background-color .5s;
}

.time__blok1:hover {
background-color: var(--fifth-color);
}

.time__blok1:focus-within {
background-color: var(--fourth-color);
}

.time__blok1:active {
background-color: var(--ninth-color);
}

.time__input1:focus + .time__blok1{
    background-color: var(--ninth-color);
}


.time__descr{
    margin-right: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    color: #649DAD;
}

.time-container2{
    position: relative;
    width: 65px;
    height: 65px;
}

.time__input2{
    position: absolute;
    padding: 0;
    left: 5px;
    top: 15px;
    width: 60px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white;
    letter-spacing: 10px;
    background: none; 
    border: none;
    outline: none;
    transform-origin: left;
    z-index: 2;
}

.time__input2::placeholder{
    color: white;
    line-height: 1em;
    font-size: 2em;
    letter-spacing: 5px;
}

.time__input2::-webkit-outer-spin-button,
.time__input2::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0; 
}

.time__blok2{
    position: absolute;
    left: 0;
    top:0;
    width: 65px;
    height: 65px;
    background-color: var(--thirteenth-color);
    border-radius: 10px;
    z-index: 1;
    transition: background-color .5s;
}

.time__blok2:hover {
    background-color: var(--fifth-color);
}

.time__blok2:focus-visible {
    background-color: var(--fourth-color);
}

.time__input2:focus + .time__blok2{
    background-color: var(--ninth-color);
}

.time__input2:active + .time__blok2{
    background-color: var(--ninth-color);
}


/*  */


/*  */

.item-card__celections{
    padding-bottom: 47px;
    
}

.active-svg__celections{
    /* display: none; */
    position: absolute;
    left: -20px;
    top: 62%;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.active-span__celections{
    position: absolute;
    display: none;
    left: 0;
    top: 770px;
    width: 4px;
    height: 200px;
    background-color: var(--fifth-color);
    transform-origin: left;
}

.passive-svg__celections{
    display: none;
    position: absolute;
    left: -20px;
    top: 62%;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.passive-span__celections{
    position: absolute;
    display: block;
    left: 0;
    top: 770px;
    width: 4px;
    height: 200px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}



.card-celections__title{
    margin: 0;
    align-self: baseline;
}

.celections__input{
    position: absolute;
    padding: 0;
    left: 5px;
    top: 15px;
    width: 60px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white;
    letter-spacing: 10px;
    background: none; 
    border: none;
    outline: none;
    transform-origin: left;
    z-index: 2;
}

.celections__input::placeholder{
    color: white;
    line-height: 1em;
    font-size: 2em;
    letter-spacing: 5px;
}

.celections__input::-webkit-outer-spin-button,
.celections__input::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0; 
}

.input-container{
    margin-top: 18px;
    position: relative;
    width: 65px;
    height: 65px;
}

.celection__blok{
    position: absolute;
    left: 0;
    top:0;
    width: 65px;
    height: 65px;
    background-color: var(--thirteenth-color);
    border-radius: 10px;
    z-index: 1;
    transition: background-color .5s;
}

.celection__blok:hover {
    background-color: var(--fifth-color);
}

.celection__blok:focus {
    background-color: var(--fourth-color);
}

.celection__blok:active {
    background-color: var(--ninth-color);
}

.celections__input:focus + .celection__blok{
    background-color: var(--ninth-color);
}


.celections__input:active + .celection__blok{
    background-color: var(--ninth-color);
}


/*  */

/*  */
.form__item__action{
    padding-bottom: 79px;

}

.active-svg__action{
    /* display: none; */
    position: absolute;
    left: -20px;
    top: 80%;
    width: 40px;
    height: 40px;
    transform-origin: left;
}

.passive-svg__action{
    display: none;
    position: absolute;
    left: -20px;
    top: 80%;
    width: 40px;
    height: 40px;
    transform-origin: left;
}


.card-actions__title{
    margin: 0;
    align-self: baseline;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--sixth-color);
}

.action__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 54px;
    padding-top: 18px;
}

.action__item{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 42px;
}


.action-item__card {
    position: relative;
    display: inline-block;
    /* padding: 15px 25px 15px 15px; */
    width: 220px;
    background: var(--thirteenth-color);
    border-radius: 3px;
    transition: background-color .5s;
}

.action-item__card:hover {
    background-color: var(--fifth-color);
}

.action-item__card:focus-visible {
    background-color: var(--fourth-color);
}

.action-item__card:active {
    background-color: var(--ninth-color);
}


.choices{
    width: 220px;
}

.choices__inner{
    background:  var(--thirteenth-color);
    border-radius: 3px;
    border: none;
}

.choices__list--single .choices__item {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: var(--second-color);
}

.choices[data-type*=select-one]:after{
    border-color: var(--second-color) transparent transparent;
    border-width: 8px;
}


.choices[data-type*=select-one].is-open:after {
    border-color: transparent transparent var(--second-color) ;
    border-width: 8px;
    margin-top: -10px;
}

.choices__list--dropdown{
    background: var(--tenth-color);
    border: none;

}

.choices__list--dropdown .choices__list--single {
    background-color: var(--thirteenth-color);
}

.choices__list--dropdown .choices__item--selectable{
    padding-right: 20px;
    /* background: var(--thirteenth-color); */
}

.choices__item--choice{
    font-weight: 600;
    font-size: 20px;
    color: var(--fifth-color);
}

.choices__list--dropdown .choices__item--selectable:hover{
    background-color: var(--fifth-color);
    color: var(--second-color);
}

.choices__list--dropdown .choices__item--selectable:focus{
    background-color: var(--fifth-color);
    
}

.choices__list--dropdown .choices__item--selectable:active{
        background: var(--thirteenth-color);
}

.choices__placeholder {
    opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
    display: none;
}


/*  */

.result__item{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 42px;
}

.result-item__card {
    position: relative;
    display: inline-block;
    /* padding: 15px 25px 15px 15px; */
    width: 220px;
    background: #BFDCE4;
    border-radius: 3px;
    transition: background-color .5s;
}

.result-item__card:hover {
    background-color: var(--fifth-color);
}

.result-item__card:focus-visible {
    background-color: var(--fourth-color);
}

.result-item__card:active {
    background-color: var(--ninth-color);
}


/*  */

/*  */

.form-btn__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 63px;
}

.form__btn {
    padding: 38px 90px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* display: flex;
    align-items: center;
    text-align: center; */
    color: var(--second-color);
    background: #BFDCE4 ;
    border-radius: 10px;
    transition: background-color .5s;
}

.form__btn:hover {
    background-color: var(--fifth-color);
}

.form__btn:focus-visible {
    background-color: var(--fourth-color);
}

.form__btn:active {
    background-color: var(--ninth-color);
}


.form-btn__descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--sixth-color);
}
/*  */


/*  */
.card__btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    padding-bottom: 132px;
}

.buttons__card{
    padding: 22px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--second-color);
    background: var(--thirteenth-color);
    border-radius: 10px;
    transition: background-color .5s;
}

.buttons__card:hover {
    background-color: var(--fifth-color);
}

.buttons__card:focus-visible {
    background-color: var(--fourth-color);
}

.buttons__card:active {
    background-color: var(--ninth-color);
}

/*  */


/* footer */
footer{
    background: var(--tenth-color);
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px 0;
}

.footer__nav{
    display: flex;
}

.footer__item{
    display: flex;
    flex-direction: column;
}

.footer__item:not(:last-child){
    margin-right: 123px;
}

.footer__img{
    width: 153px;
    height: 114px;
}

.footer__link{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--fourth-color);
    border: 2px solid transparent;
    transition: border-color, border .5s;
}

.footer__link:not(:last-child){
    margin-bottom: 10px;
}

.footer__link:hover {
    border-bottom-color: var(--fourth-color);
}

.footer__link:focus-visible {
    border-color:  var(--fourth-color);
}

.footer__link:active {
    border-bottom-color: var(--fourth-color);
    color: var(--fifth-color);
}


@media (max-width: 1100px){
.container{
    max-width: 736px;
}

/* section header */
.header__logo{
    margin-right: 15px;    
}

.logo__img{
    width: 117px;
    height: 87px;
}

.header__nav{
    margin-right: 15px;
}

.header__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.header__item:not(:last-child) {
    margin-right: 20px;
}
/*  */



.form__link-right,
.form__link-left{
    font-size: 18px;
}


.form__link-right:not(:last-child){
    margin-right: 40px;
}
/*  */

/* form */


/*  */

.item__header-descr{
    font-size: 20px;
}

.item-header__card{
    display: flex;
    align-items: center;
}

.header-descr__card{
    margin-right: 20px;
}

/*  */


/*  */

.active-svg{
    position: absolute;
    left: -20px;
    top: 240px;
    width: 40px;
    height: 40px;
    transform-origin: left;
}

.passive-svg {
    display: none;
    position: absolute;
    left: -20px;
    top: 240px;
    width: 40px;
    height: 40px;
    transform-origin: left;
}


.active-span{
    display: none;
    position: absolute;
    left: 0;
    top: 277px;
    width: 4px;
    height: 245px;
    background-color: var(--fifth-color);
    transform-origin: left;
}


.passive-span{
    display: block;
    position: absolute;
    left: 0;
    top: 277px;
    width: 4px;
    height: 245px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}

.item-card__file-text{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 20px;
}

.file-text__title{
    font-size: 20px;
}

.file-text__descr{
    margin-bottom: 30px;
    font-size: 16px;
    width: 500px;
}

.file-text__btn {
    display: none;
    padding: 18px 23px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background-color: var(--thirteenth-color);
    border-radius: 10px;
    transition: background-color .5s;
}

/*  */

/*  */
.item-card__file-audio{
    flex-wrap: wrap;
}

.active-svg__audio{
    position: absolute;
    /* display: none; */
    left: -20px;
    top: 500px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.active-span__audio{
    position: absolute;
    display: none;
    left: 0;
    top: 540px;
    display: block;
    width: 4px;
    height: 310px;
    background-color: var(--fifth-color);
    transform-origin: left;
}

.passive-svg__audio{
    display: none;
    position: absolute;
    left: -20px;
    top: 500px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.passive-span__audio{
    position: absolute;
    left: 0;
    top: 540px;
    display: block;
    width: 4px;
    height: 310px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}

.file-auduo__title{
    font-size: 20px;
}

.file-audio__descr{
    margin-bottom: 30px;
    font-size: 16px;
    width: 500px;
}

.file-audio__link{
    display: block;
    margin-bottom:15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #649DAD;
}

.file-audio__link:not(:last-child){
    margin-right: 0;

}

.file-audio__btn {
    /* display: none; */
    padding: 18px 23px;
    font-size: 24px;
    line-height: 29px;
}

/*  */

/*  */
.item-card__time{
    display: block;
}


.active-svg__time{
    /* display: none; */
    position: absolute;
    left: -20px;
    top: 850px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.active-span__time{
    display: none;
    position: absolute;
    left: 0;
    top: 890px;
    display: block;
    width: 4px;
    height: 170px;
    background-color: var(--fifth-color);
    transform-origin: left;
}

.passive-svg__time{
    display: none;
    position: absolute;
    left: -20px;
    top: 850px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.passive-span__time{
    position: absolute;
    left: 0;
    top: 890px;
    display: block;
    width: 4px;
    height: 170px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}

.card-time__title {
    margin-bottom: 30px;
    font-size: 20px;
}

.card-time__input{
    padding: 0;
}


/*  */


/*  */

.item-card__celections{
    display: block;
    padding-bottom: 47px;
    
}

.active-svg__celections{
    /* display: none; */
    position: absolute;
    left: -20px;
    top: 1060px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.active-span__celections{
    position: absolute;
    display: none;
    left: 0;
    top: 1050px;
    width: 4px;
    height: 250px;
    background-color: var(--fifth-color);
    transform-origin: left;
}

.passive-svg__celections{
    display: none;
    position: absolute;
    left: -20px;
    top: 1060px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.passive-span__celections{
    position: absolute;
    display: block;
    left: 0;
    top: 1050px;
    width: 4px;
    height: 250px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}



.card-celections__title{
    font-size: 20px;
    margin: 0;
    margin-bottom: 30px;
}

/*  */

/*  */
.form__item__action{
   display: block;
}

.active-svg__action{
    /* display: none; */
    position: absolute;
    left: -20px;
    top: 1300px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.passive-svg__action{
    display: none;
    position: absolute;
    left: -20px;
    top: 1300px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}


.card-actions__title{
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
}

.action__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding-top: 0;
}

.action__item{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 42px;
}




/*  */

.result__item{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 42px;
}

/*  */

/*  */

.form-btn__card{
    margin-bottom: 53px;
}

.form__btn {
    padding: 30px 40px;
    margin-bottom: 25px;
    font-size: 24px;
}

.form-btn__descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--sixth-color);
}
/*  */


/*  */
.card__btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.buttons__card{
    padding: 30px 30px;
    font-weight: 600;
    font-size: 24px;
    font-weight: 40px;
    width: 380px;
    box-sizing: border-box;
}

.buttons__card:not(:last-child){
    margin-bottom: 30px;
}
/*  */


/* section footer */
.footer__item:not(:last-child) {
    margin-right: 50px;
}

}


/*  */

@media (max-width: 900px){
.container{
    max-width: 640px;
}

.header__burger-btn{
    display: block;
}

.header__list{
    display: block;
}

.header__item:not(:last-child){
    margin-bottom: 30px;
}

.header__nav{
    position: absolute;
    left: -350px;
    top: 95px;
    width: 350px;
    padding: 20px 0 20px 20px;
    visibility: hidden;
    background-color: var(--second-color);
    border-radius: 20px;
    transition: transform .5s, visibility .5s ;
}

.header__link {
    display: block;
    padding-right: 30px;
    font-size: 18px;
    line-height: 20px;
    color: var(--seventh-color); 

} 

.header.open .header__nav{
    transform: translateX(100%);
    visibility: visible;
}

.form__link-right,
.form__link-left{
    font-size: 18px;
}


.form__link-right:not(:last-child){
    margin-right: 40px;
}
/*  */

/* form */

.item__header-descr{
    font-size: 20px;
}

.item-header__card{
    display: flex;
    align-items: center;
}

.header-descr__card{
    margin-right: 20px;
}

/*  */


/*  */


.item-card__file-text{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 20px;
}

.file-text__title{
    font-size: 20px;
}

.file-text__descr{
    margin-bottom: 30px;
    font-size: 16px;
    width: 500px;
}

.file-text__btn {
    display: none;
    padding: 18px 23px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background-color: var(--thirteenth-color);
    border-radius: 10px;
    transition: background-color .5s;
}

/*  */

/* section footer */

footer{
    background: var(--tenth-color);
}

.footer__container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 56px 0 81px 0;
}

.footer__img{
 margin-bottom: 51px;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__item:not(:last-child){
    margin-bottom: 45px;
    margin-right: 0;
}

.footer__link{
    font-size: 25px;
    line-height: 31px;
}

.footer__link:not(:last-child){
    margin-bottom: 45px;
}


}

/*  */



@media (max-width: 650px){
.container{
     max-width: 350px;
}

/*  header*/
.heder__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__btn {
    display: none;
}

.header__burger-btn{
    margin-right: 40px;
}




.header__burger-btn{
    margin-right: 40px;
}


/*  */
.form__list-menu{
    display: block;
}

.form-item__header{
    display: block;
}

.file-text__title {
    font-size: 16px;
}

.file-text__descr{
    font-size: 14px;
    width: 250px;
}

.file-auduo__title{
    font-size: 16px;
}

.file-audio__descr{
    margin-bottom: 30px;
    font-size: 14px;
    width: 250px;
}

.file-audio__link{
    font-weight: 400;
    font-size: 14px;
}

.file-audio__btn {
    display: block;
    padding: 18px 23px;
    font-size: 20px;
}

/*  */

/*  */
.active-span{
    display: none;
    position: absolute;
    left: 0;
    top: 277px;
    width: 4px;
    height: 325px;
    background-color: var(--fifth-color);
    transform-origin: left;
}


.passive-span{
    display: block;
    position: absolute;
    left: 0;
    top: 277px;
    width: 4px;
    height: 325px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}

.active-svg__audio{
    position: absolute;
    display: block;
    left: -20px;
    top: 600px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.active-span__audio{
    display: none;
    position: absolute;
    left: 0;
    top: 640px;
    display: block;
    width: 4px;
    height: 360px;
    background-color: var(--fifth-color);
    transform-origin: left;
}

.passive-svg__audio{
    display: none;
    position: absolute;
    left: -20px;
    top: 600px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.passive-span__audio{
    position: absolute;
    left: 0;
    top: 640px;
    display: block;
    width: 4px;
    height: 360px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}

.active-svg__time{
    display: block;
    position: absolute;
    left: -20px;
    top: 1000px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.active-span__time{
    display: none;
    position: absolute;
    left: 0;
    top: 1000px;
    display: block;
    width: 4px;
    height: 170px;
    background-color: var(--fifth-color);
    transform-origin: left;
}

.passive-svg__time{
    display: none;
    position: absolute;
    left: -20px;
    top: 1040px;
    width: 40px;
    height: 230px;
    transform-origin: left;
    z-index: 1;
}

.passive-span__time{
    position: absolute;
    left: 0;
    top: 1040px;
    display: block;
    width: 4px;
    height: 230px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}

.card-time__title {
    font-size: 16px;
}

/*  */


/*  */
.active-svg__celections{
    display: block;
    position: absolute;
    left: -20px;
    top: 1260px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.active-span__celections{
    position: absolute;
    display: none;
    left: 0;
    top: 1300px;
    width: 4px;
    height: 300px;
    background-color: var(--fifth-color);
    transform-origin: left;
}

.passive-svg__celections{
    display: none;
    position: absolute;
    left: -20px;
    top: 1260px;
    width: 4px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.passive-span__celections{
    position: absolute;
    display: block;
    left: 0;
    top: 1300px;
    width: 4px;
    height: 300px;
    background-color: var(--thirteenth-color);
    transform-origin: left;
}

.card-celections__title{
    font-size: 16px;
}

/*  */

/*  */
.active-svg__action{
    /* display: none; */
    position: absolute;
    left: -20px;
    top: 1600px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}

.passive-svg__action{
    display: none;
    position: absolute;
    left: -20px;
    top: 100px;
    width: 40px;
    height: 40px;
    transform-origin: left;
    z-index: 1;
}


.card-actions__title{
    font-size: 16px;
}

.action__list{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}

.action__item{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 42px;
}



/*  */

.result__item{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 42px;
}

/*  */

/*  */

.form-btn__card{
    margin-bottom: 53px;
}

.form__btn {
    padding: 30px 30px;
    font-size: 18px;
}

.form-btn__descr{
    font-size: 14px;
}
/*  */


/*  */
.buttons__card{
    padding: 30px 30px;
    font-weight: 600;
    font-size: 18px;
    font-weight: 40px;
    width: 320px;
    box-sizing: border-box;
}

/*  */


/* section footer */

.footer__container{
    padding: 45px 0 45px 0;
}

.footer__img{
    margin-bottom: 38px;
}

.footer__item:not(:last-child){
    margin-bottom: 33px;
}

.footer__link{
    font-size: 18px;
    line-height: 23px;
}

.footer__link:not(:last-child){
    margin-bottom: 33px;
}


}
